.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0 .5em 0;
}

.swiper-slide img{
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next{
  display: none;
}

.swiper-pagination{
  position: initial;
  margin: .5em 0;
}

@media screen and (min-width: 1024px){
  .carrossel__titulo{
    font-size: 26px;
    padding: 2em 0 1em 0;
    
  }

  .swiper-pagination{
    margin: 2em 0 3em 0;
  }

  .swiper{
    width: 60%;
  }

  .swiper-button-prev,
.swiper-button-next{
  display: block;
  top: 60%;
  
}

}

@media screen and (min-width: 1728px) {
  
  .carrossel__container{
    display: flex;
    margin: 0 10vw 3em 10vw;
    align-items: center;
  }

  .swiper-pagination{
    margin: 4.5em 0 2.5em 0;
  }

  .swiper{
    width: 60%;
  }

  .carrossel__titulo{
    font-size: 32px;
  }
}